MONGODB_CONNECTION_STRING=

JWT_SECRET_KEY=

CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=

FRONTEND_URL=

STRIPE_API_KEY=

PORT=7000

#paypal
PORT=7000
PAYPAL_CLIENTID=
PAYPAL_SECRET=
PAYPAL_BASEURL=
PAYPAL_REDIRECT_BASE_URL=